<!-- Footer Section -->
<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
			<div class="col-md-12">
				<div class="copyright text-center">
					<p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}. All rights reserved.</p>
				</div>
			</div>
        </div>
     </div>
</footer>

<!-- Scroll-up -->
<div class="scroll-up">
	<a href="#home"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Javascript files -->
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script> -->

<script src="{{ "/js/jquery.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.stellar.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.sticky.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/smoothscroll.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.countTo.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.inview.min.js " | prepend: site.baseurl }}"></script> 
<script src="{{ "/js/jquery.easypiechart.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.shuffle.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.magnific-popup.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.fitvids.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scripts.js " | prepend: site.baseurl }}"></script>
